# Code alongs - Python fundamentals 1

In [38]:
my_fruit = input()

print (f"I like to eat {my_fruit}")

I like to eat

In [39]:
age = input(int("Give me your age: "))
print(f"In five years you are {age + 5} years old")

ValueError: invalid literal for int() with base 10: 'Give me your age: '

In [ ]:
# tuple
#in jupyternotebook: the __repr__ of the object instance isoutputted for thelast line
age, type(age)

('30', str)

In [ ]:
age = 30
loves_math = True
type(age), age, type(loves_math)

(int, 30, bool)

In [ ]:
print(f"{loves_math = }")

loves_math = True

## Collections

- List
- Suples
- Sets
- Dictionary

In [ ]:
# List of one data type only
interests = ["badminton","yoga", "math", "programming"]

# List of mixed data types
person = ["Zamzam", 30, True]

person

['Zamzam', 30, True]

In [ ]:
interests

['badminton', 'yoga', 'math', 'programming']

In [ ]:
type(person), type(person[1])

(list, int)

### Slicing and indexing

In [ ]:
interests[1:3]

['yoga', 'math']

In [ ]:
interests[-1], interests[::-1]

('programming', ['programming', 'math', 'yoga', 'badminton'])

In [ ]:
person.append(interests)
person

['Zamzam', 30, True, ['badminton', 'yoga', 'math', 'programming']]

In [ ]:
person[-1][-2], person[-1][-2][::-1]

('math', 'htam')

In [ ]:
persons_interests = person[-1]
persons_interests[-2]

'math'

### Iterate over lists

In [ ]:
# Pythonic- idiomatic Python
for interests in persons_interests:
    print(interests)

badminton
yoga
math
programming

In [ ]:
for i, interests in enumerate(persons_interests,1): # Börjar från 1
    print(i, interests)

1 badminton
2 yoga
3 math
4 programming

### List creation

- Append
- List comprehension

In [ ]:
numbers =[]

for i in range(10):
    numbers.append(i)

numbers

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
numbers = [i for i in range(10)]
numbers

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
squares = [i**2 for i in numbers]
squares

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [ ]:
# i % 2 (the condition) is truthy when i is odd and falsey when i is even
odd_numbers_squared = [i**2 for i in numbers if i % 2]
odd_numbers_squared

[1, 9, 25, 49, 81]

### Dictionary

- Key: value pairs

In [41]:
courses = {
    "python": 40,
    "agile": 15,
    "sql": 30,
    "data_platform": 40,
    "data_modeling": 30,
    "visualization": 40,
}

courses

{'python': 40,
 'agile': 15,
 'sql': 30,
 'data_platform': 40,
 'data_modeling': 30,
 'visualization': 40}

In [43]:
courses.keys()

dict_keys(['python', 'agile', 'sql', 'data_platform', 'data_modeling', 'visualization'])

In [44]:
len(courses.keys())

6

In [45]:
courses.values()

dict_values([40, 15, 30, 40, 30, 40])

In [ ]:
for course in courses:
    print(course, courses(course))

python
agile
sql
data_platform
data_modeling
visualization

In [53]:
print(f"{'course':<20} points")
for course, points in courses.items():
    print(f"{course:<20} {points}")

course               points
python               40
agile                15
sql                  30
data_platform        40
data_modeling        30
visualization        40

### Strings

In [55]:
ml_term = "sUperVised   Learning  "

len(ml_term)

23

In [60]:
# Tar bort alla leading och trailing spaces (allt före och efter)
ml_term.strip()

'sUperVised   Learning'

In [64]:
" ".join(ml_term.strip().split()).lower()

'supervised learning'

###